<h2 class="page-header">Edit Book</h2>
<!-- Using enctype="multipart/form-data" so it knows our form will send multipart data which can be a file -->
<form action="/books/<%= book.id %>?_method=PUT" method="POST" >
<!-- not using input tags directly because these inputs will be shared between pages -->
<%- include('_form_fields', { book: book }) %>
<div class="form-row btn-row form-row-end">
    <a href="/books" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Update</button>
</div>
</form>