<h2>New Book</h2>
<!-- Using enctype="multipart/form-data" so it knows our form will send multipart data which can be a file -->
<form action="/books" method="POST" >
<!-- not using input tags directly because these inputs will be shared between pages -->
    <%- include('_form_fields')  %>
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>